body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #17072b;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Tahoma, sans-serif;
    font-weight: 700;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .welcome {
    flex: 3;
    padding-right: 20px;
  }
  
  .welcome h2 {
    font-weight: bold;
    text-decoration: underline;
  }

  .welcome img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
  }
  
  .line-up .images img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .line-up {
    flex: 1;
    background-color: #172d67;
    color: white;
    padding: 20px;
  }
  
  .line-up h2 {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .line-up ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .line-up .images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  footer {
    background-color: #8c15e9;
    text-align: center;
    color: white;
    padding: 10px;
  }
  